<div class="pb-4" style="background-color: lavender;">
	<h2 class="w-100 text-center py-2">{{chatname}}</h2>
	<div class="w-100 h-100 d-flex flex-wrap justify-content-center align-content-center">
		<chat-user *ngFor="let user of users" [username]="user" (msgSent)="onMessageSent($event)">
		</chat-user>
	</div>
	<div class="row justify-content-center pt-4">
		<input type="button" class="btn btn-primary" value="Change chat name" 
			(click)="editstate=1; enteredName=chatname;"/>
	</div>
	<div class="row justify-content-center">
		<form class="w-25" [hidden]="editstate==0" (submit)="commitName()">
			<div class="form-row">
				<input type="text" maxlength="50" name="inputname" class="form-control"
					style="width: 80%;" [(ngModel)]="enteredName"/>
				<input type="submit" class="btn btn-outline-success" style="width: 10%;" value="V"/>
				<input type="button" class="btn btn-outline-danger" style="width: 10%;" value="X"
					(click)="resetEditState()"/>
			</div>
			<div class="alert alert-danger" [hidden]="errors==null">{{errors}}</div>
		</form>
</div>